<!DOCTYPE html>
<html>
<head></head>

<body>
	<!-- Header Start -->
	<header>
		<div class="container-fluid agile-banner_nav">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/"><img src="assets/logo.png"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item active"><a class="nav-link" href="/about">About</a></li>
						<li class="nav-item"><a class="nav-link" href="/service">Services</a></li>
						<li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<!-- Header End -->

	<!-- inner page banner-->
	<div class="inner-banner"></div>
	<!-- //inner page banner-->

	<!-- About us -->
	<section class="about py-5 my-lg-5">
		<div class="container">
			<h3 class="heading text-center text-capitalize mb-5">What makes us different</h3>
			<div class="spldishes-agileinfo">
				<div class="spldishes-grids">
					<!-- Owl-Carousel -->
					<div id="owl-demo" class="owl-carousel agileinfo-gallery-row">
						<div class="item g1">
							<img class="lazyOwl" src="assets/slide1.jpg" alt=""/>
							<h4 class="mt-4 text-uppercase">Design Planning</h4>
							<p class="my-2">Planning and managing digital content to meet the needs the public</p>
							<a href="#">Read More <i class="fas fa fa-angle-right"></i></a>
						</div>
						<div class="item g1">
							<img class="lazyOwl" src="assets/slide2.jpg" alt=""/>
							<h4 class="mt-4 text-uppercase">Business Meeting</h4>
							<p class="my-2">Once that goal is established, prioritize the list of topics from most important to least</p>
							<a href="#">Read More <i class="fas fa fa-angle-right"></i></a>
						</div>
						<div class="item g1">
							<img class="lazyOwl" src="assets/slide3.jpg" alt=""/>
							<h4 class="mt-4 text-uppercase">Programming</h4>
							<p class="my-2">Build and execute monthly programming plans for the service; promoting & featuring</p>
							<a href="#">Read More <i class="fas fa fa-angle-right"></i></a>
						</div>
						<div class="item g1">
							<img class="lazyOwl" src="assets/slide4.jpg" alt=""/>
							<h4 class="mt-4 text-uppercase">Confidence Skills</h4>
							<p class="my-2">Positive thinking, practice, training, knowledge and talking to other people</p>
							<a href="#">Read More <i class="fas fa fa-angle-right"></i></a>
						</div>
						<div class="item g1">
							<img class="lazyOwl" src="assets/slide5.jpg" alt=""/>
							<h4 class="mt-4 text-uppercase">Beauty design</h4>
							<p class="my-2">Designing a good website that accommodates a lot of content</p>
							<a href="#">Read More <i class="fas fa fa-angle-right"></i></a>
						</div> 
						<div class="item g1">
							<img class="lazyOwl" src="assets/slide6.jpg" alt=""/>
							<h4 class="mt-4 text-uppercase">Creative thinking</h4>
							<p class="my-2">Looking at something in a new way. It is the very definition of “thinking outside the box.”</p>
							<a href="#">Read More <i class="fas fa fa-angle-right"></i></a>
						</div>
					</div> 
				</div>  
				<div class="clearfix"> </div>
			</div>
		</div>
	</section>
	<!-- //About us -->

	<!-- help -->
	<section class="help">
		<div class="layer py-5">
			<div class="container py-lg-5">
			<h3 class="heading text-center text-capitalize mb-5">We help you in </h3>
				<div class="row help_grids">
					<div class="col-sm-4">
						<div class="row">
							<div class="col-lg-3 mb-lg-0 mb-4 icon">
								<i class="fas fa fa-briefcase"></i>
							</div>
							<div class="col-lg-9">
								<h4 class="text-uppercase mb-3">Business</h4>
								<p class="mb-3">10 to 20 keywords analyzed and optimized. Quality backlinks from relevant sources & regular quality content generation</p>
								<a href="#">Read More <i class="fas fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 mt-sm-0 mt-4">
						<div class="row">
							<div class="col-lg-3 mb-lg-0 mb-4 icon">
								<i class="fas fa fa-signal"></i>
							</div>
							<div class="col-lg-9">
								<h4 class="text-uppercase mb-3">Strategy</h4>
								<p class="mb-3">Our on-site team of experts uses ethical and intelligent SEO techniques to help you get on top and stay on top</p>
								<a href="#">Read More <i class="fas fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 mt-sm-0 mt-4">
						<div class="row">
							<div class="col-lg-3 mb-lg-0 mb-4 icon">
								<i class="fab fa fa-connectdevelop"></i>
							</div>
							<div class="col-lg-9">
								<h4 class="text-uppercase mb-3">Technology</h4>
								<p class="mb-3">Manual submission of site to relevant niche directories. Local business directory and social bookmarking submissions</p>
								<a href="#">Read More <i class="fas fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //help -->

	<!-- about top -->
	<section class="about-top py-5 my-lg-5">
		<div class="container">
			<h3 class="heading text-center text-capitalize mb-5">Checkout file Project </h3>
			<div class="row top-grids">
				<div class="col-lg-4">
					<h4 class="mb-4 text-capitalize">We offer a wide variety of data entry services. Our data entry services include</h4>
					<a href="#">Download file <i class="fas fa fa-download"></i></a>
				</div>
				<div class="col-lg-6 my-lg-0 my-6">
					<p>Everyone at Data Entry India is proud to be associated with a unique approach to data entry that keeps our clients happy. We then set out to deliver the highest levels of data quality and data accuracy with an expeditious turnaround. We offer output in various formats such as Text (.txt), Microsoft Word (.doc), Microsoft Excel (.xls), Microsoft Access (.mdb), and Microsoft Access Portable Document (.pdf) formats. The output can be delivered via E-mail, FTP upload or CD-R or CD-W.</p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<img src="images/slide1.jpg" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</section>
	<!-- //about top -->

	<!-- project -->
	<section class="project py-5 text-center">
		<div class="container">
			<h3 class="text-capitalize mb-5">Do you want to start a new project ?</h3>
			<a href="/contact" class="text-uppercase"><i class="fas fa fa-envelope-open"></i> contact us </a>
		</div>
	</section>
	<!-- //project -->

	<!-- footer -->	
	<footer>
		<div class="container py-5">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3 class="text-uppercase mb-3">Address</h3>
					<address>
						<p><strong>Tablelabs OPC Private Limited</strong></p>
						<p class="mb-3">#171, Ganapathy Nagar, Thiruvanaikoil, Trichy - 620005 Tamil Nadu, India.</p>
						<p><strong>Phone</strong> : +91 74028 11006</p>
						<p><strong>Email</strong> : <a href="mailto:tablelab4@yahoo.com">tablelab4@yahoo.com</a></p>
					</address>
				</div>
				<div class="col-lg-2 col-md-6 mt-lg-0 mt-sm-0 mt-4 p-md-0">
					<h3 class="text-uppercase mb-3">links</h3>
					<div class="links">
						<a class="pt-2 text-capitalize" href="/"><i class="fas fa fa-angle-right"></i> Home</a>
						<a class="pt-2 text-capitalize" href="/about"><i class="fas fa fa-angle-right"></i> About</a>
						<a class="pt-2 text-capitalize" href="/career"><i class="fas fa fa-angle-right"></i> Career</a>
						<a class="pt-2 text-capitalize" href="/service"><i class="fas fa fa-angle-right"></i> Services</a>
						<a class="pt-2 text-capitalize" href="/contact"><i class="fas fa fa-angle-right"></i> Contact Us</a>
					</div>	
				</div>
				<div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
					<h3 class="text-uppercase mb-3">Recent posts</h3>
					<div class="posts">
						<p class="pt-2">Automated set-ups
						<span class="font-italic">31st Dec, 2017.</span></p>
						<p class="py-2 my-2 middle">Impressive processing speed
						<span class="font-italic">31st Jan, 2018.</span></p>
						<p class="pt-2">Highly scalable software
						<span class="font-italic">31st Feb, 2018.</span></p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
					<h3 class="text-uppercase mb-3">Newsletter</h3>
					<p class="mb-4 pt-2">Subscribe to Our Newsletter to get Important News, Amazing Offers & More</p>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Enter your email..." required="">
						<button class="btn1"><i class="far fa fa-envelope-o"></i></button>
						<div class="clearfix"> </div>
					</form>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer -->


	<!-- copyright -->
	<div class="copyright py-4">
		<div class="container">
			<div class="copyrightgrids row">
				<div class="col-lg-6 col-12">
					<p>© 2018 <span>Table Labs</span>. All Rights Reserved</p>
				</div>
				<div class="col-lg-6 col-12">
					<ul class="social text-right mt-lg-0 mt-3">
						<li><p class="mx-2 text-capitalize">follow us on : </p></li>
						<li class="mx-2"><a href="#" class="socialfb"><span class="fab fa fa-facebook-f"></span></a></li>
						<li class="mx-2"><a href="#" class="socialtw"><span class="fab fa fa-twitter"></span></a></li>
						<li class="mx-2"><a href="#" class="socialgp"><span class="fab fa fa-google-plus"></span></a></li>
						<li class="mx-2"><a href="#" class="socialln"><span class="fab fa fa-linkedin"></span></a></li>
						<li class="mx-2"><a href="#" class="socialyh"><span class="fab fa fa-yahoo"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //copyright -->
</body>
<script>
	$(document).ready(function() {
		$("#owl-demo").owlCarousel ({
			items : 3,
			lazyLoad : true,
			autoPlay : true,
			pagination : true,
		});
	});
</script>
</html>