<!DOCTYPE html>
<html>
<head></head>

<body>
	<!-- Header Start -->
	<header>
		<div class="container-fluid agile-banner_nav">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/"><img src="assets/logo.png"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
						<li class="nav-item"><a class="nav-link" href="/service">Services</a></li>
						<li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<!-- Header End -->

	<!--/banner-->
	<div class="banner">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<div class="carousel-caption">
						<h3>Product Technology <span>Design</span></h3>
						<p class="text-capitalize mt-3 mb-sm-5 mb-4">Optimize Your Copy for Search Engines</p>
						<a href="#">Find Out More <span class="fas fa fa-arrow-down"></span></a>
					</div>
				</div>
				<div class="carousel-item item2">
					<div class="carousel-caption">
						<h3>Business Consultant <span>Services</span></h3>
						<p class="text-capitalize mt-3 mb-sm-5 mb-4">Customer Relationship Management System</p>
						<a href="#">Find Out More <span class="fas fa fa-arrow-down"></span></a>
					</div>
				</div>
				<div class="carousel-item item3">
					<div class="carousel-caption">
						<h3>Creative Agency <span>Business</span></h3>
						<p class="text-capitalize mt-3 mb-sm-5 mb-4">We will help you in modern technology</p>
						<a href="#">Find Out More <span class="fas fa fa-arrow-down"></span></a>
						</div>
				</div>
				<div class="carousel-item item4">
					<div class="carousel-caption">
						<h3>Best Development <span>Projects</span></h3>
						<p class="text-capitalize mt-3 mb-sm-5 mb-4">We will help you in modern technology</p>
						<a href="#">Find Out More <span class="fas fa fa-arrow-down"></span></a>
						</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<!--//banner-->

	<!-- Welcome -->
	<section class="welcome py-5 my-lg-5">
		<div class="container">
			<div class="row welcome_grids">
				<div class="col-lg-7 mb-lg-0 mb-5">
					<h3 class="mb-3 text-capitalize">Welcome to Table labs</h3>
					<p class="my-2 initial font-italic">Bring your Big Data to Life With Tablelabs</p>
					<p class="mb-5 mt-4">Emerging concepts such as big data highlight just how valuable data is to entities. The potency of data cannot be tapped into if there is no mechanism for input. This is where we come in with our data entry services. We at Data Entry India offer data entry services to different types of organizations that prefer outsourcing their data entry function to performing it in-house. Based on client feedback,.</p>
					<a href="#" class="text-uppercase" data-toggle="modal" data-target="#exampleModal"><span class="fas fa fa-play-circle"></span> Check Video </a>
				</div>
				<div class="col-lg-5 welcome_right">
					<img src="assets/slide1.jpg" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</section>
	<!-- //Welcome -->

	<!-- model video-->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Introduction Video</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body video">
					<iframe src="https://player.vimeo.com/video/7396421"></iframe>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<!-- //model video-->

	<!-- Testimonials -->
	<section class="testimonials py-5">
		<div class="container py-lg-5">
			<div class="row">
				<!-- Clients -->
				<div class=" col-lg-6 clients">
					<div class="slider p-sm-5 p-4">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<div class="client row">
										<div class="col-sm-4">
											<img src="assets/t1.jpg" alt="" />
										</div>
										<div class="col-sm-8">
											<h5 class="my-2">Jay Boatwright</h5>
											<h6>Canton, GA</h6>
											<ul class="rating mt-2">
												<li class="mx-1"><span class="fas fa fa-star"></span></li>
												<li class="mx-1"><span class="fas fa fa-star"></span></li>
												<li class="mx-1"><span class="fas fa fa-star"></span></li>
												<li class="mx-1"><span class="fas fa fa-star"></span></li>
												<li class="mx-1"><span class="fas fa fa-star-half"></span></li>
											</ul>
										</div>
									</div>
									<p class="my-4">Just wanted to drop a note that I was very pleased with the quality and TAT of the Data entry work you have done for us over the past year. It has been a pleasure to work with your accurate team.</p>
										
								</li>
								<li>
									<div class="client row">
										<div class="col-sm-4">
											<img src="assets/t2.jpg" alt="" />
										</div>
										<div class="col-sm-8">
											<h5 class="my-2">Ben Connors</h5>
											<h6>San Jose, CA</h6>
											<ul class="rating mt-2">
												<li class="mx-1"><span class="fas fa fa-star"></span></li>
												<li class="mx-1"><span class="fas fa fa-star"></span></li>
												<li class="mx-1"><span class="fas fa fa-star"></span></li>
												<li class="mx-1"><span class="fas fa fa-star"></span></li>
												<li class="mx-1"><span class="fas fa fa-star-half"></span></li>
											</ul>
										</div>
									</div>
									<p class="my-4">We did significant research before selecting Data Services for my data project. They were prompt, accurate, & cost-effective &  provide an extra level of attention to ensure that they understood & delivered to my expectations. I would recommend them.</p>
										
								</li>
								<li>
									<div class="client row">
										<div class="col-sm-4">
											<img src="assets/t1.jpg" alt="" />
										</div>
										<div class="col-sm-8">
											<h5 class="my-2">Manoj</h5>
											<h6>Kerala, India</h6>
											<ul class="rating mt-2">
												<li class="mx-1"><span class="fas fa fa-star"></span></li>
												<li class="mx-1"><span class="fas fa fa-star"></span></li>
												<li class="mx-1"><span class="fas fa fa-star"></span></li>
												<li class="mx-1"><span class="fas fa fa-star"></span></li>
												<li class="mx-1"><span class="fas fa fa-star-half"></span></li>
											</ul>
										</div>
									</div>
									<p class="my-4">We choose Data Entry Services India for our services for its superior speed and technical accuracy. They worked very closely with us to customize our data processing requirements to suit our budget</p>
										
								</li>
								<li>
									<div class="client row">
										<div class="col-sm-4">
											<img src="assets/t1.jpg" alt="" />
										</div>
										<div class="col-sm-8">
											<h5 class="my-2">Brian Smith</h5>
											<h6>Duluth, GA</h6>
											<ul class="rating mt-2">
												<li class="mx-1"><span class="fas fa fa-star"></span></li>
												<li class="mx-1"><span class="fas fa fa-star"></span></li>
												<li class="mx-1"><span class="fas fa fa-star"></span></li>
												<li class="mx-1"><span class="fas fa fa-star"></span></li>
												<li class="mx-1"><span class="fas fa fa-star-half"></span></li>
											</ul>
										</div>
									</div>
									<p class="my-4">From start to finish, we have been very pleased with every project. Service has been excellent, you’ve met or exceeded our timing & budget expectations. Thank you for helping us become a leader in our industry. I would love to recommend them</p>
										
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- //Clients -->
				<div class="col-lg-6 collections mt-lg-0 mt-5 px-sm-5 px-4">
					<h3>Collections from our customers</h3>
					<p class="my-4">Data entry is not for the faint hearted. That is why we at Data Entry India employ people with an eye for detail, with a predilection for accuracy and with the ability to learn new varieties computer software and spreadsheet applications. That is why you need to outsource data entry services to our team based in India. Our data entry employees also exhibit proficiency in typing, skill in10-key and awareness of dynamic and advanced technological developments.</p>
					<a href="#" class="text-capitalize" data-toggle="modal" data-target="#exampleModalCenter" role="button">Read more <i class="fas fa fa-angle-right"></i></a>
				</div>
			</div>
		</div>
	</section>
	<!-- Testimonials -->

	<!-- Process -->
	<section class="process py-5 my-lg-5">
		<div class="container">
			<div class="row process-grids">
				<div class="col-lg-4 col-md-6 grid1">
					<span class="fab fa fa-dropbox"></span>
					<h3 class="text-uppercase mt-3">Goal</h3>
					<p class="mt-sm-5 mt-3">Through a smart mix of SEO techniques we bring you real results: clicks, calls, conversions and a lasting foundation for your business.</p>
					<ul class="mt-4">
						<li class="mt-2"><span class="fas fa fa-angle-right"></span>SEO - based content writing services</li>
						<li class="mt-2"><span class="fas fa fa-angle-right"></span>Blog writing services</li>
						<li class="mt-2"><span class="fas fa fa-angle-right"></span>Product description writing services</li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-6 grid1 mt-md-0 mt-5">
					<span class="fab fa fa-eercast"></span>
					<h3 class="text-uppercase mt-3">Process</h3>
					<p class="mt-sm-5 mt-3">Featuring a combination of organic / local SEO and Pay-Per-Click campaigns, this customized service covers every angle to give your business.</p>
					<ul class="mt-4">
						<li class="mt-2"><span class="fas fa fa-angle-right"></span>Product review writing services</li>
						<li class="mt-2"><span class="fas fa fa-angle-right"></span>Help manual writing services</li>
						<li class="mt-2"><span class="fas fa fa-angle-right"></span>Help manual for app and software</li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-12 grid1 mt-lg-0 mt-5">
					<span class="fab fa fa-mixcloud"></span>
					<h3 class="text-uppercase mt-3">Results</h3>
					<p class="mt-sm-5 mt-3">Our on-site team of experts uses ethical and intelligent SEO techniques to help you get on top and stay on top of search results in the most efficient way possible</p>
					<ul class="mt-4">
						<li class="mt-2"><span class="fas fa fa-angle-right"></span>The shortest turnaround time</li>
						<li class="mt-2"><span class="fas fa fa-angle-right"></span>High quality and accuracy of output</li>
						<li class="mt-2"><span class="fas fa fa-angle-right"></span>Real-time status reporting</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- //Process -->

	<!-- project -->
	<section class="project py-5 text-center">
		<div class="container">
			<h3 class="text-capitalize mb-5">Do you want to start a new project ?</h3>
			<a href="/contact" class="text-uppercase"><i class="fas fa fa-envelope-open"></i> contact us </a>
		</div>
	</section>
	<!-- //project -->

	<!-- footer -->	
	<footer>
		<div class="container py-5">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3 class="text-uppercase mb-3">Address</h3>
					<address>
						<p><strong>Tablelabs OPC Private Limited</strong></p>
						<p class="mb-3">#171, Ganapathy Nagar, Thiruvanaikoil, Trichy - 620005 Tamil Nadu, India.</p>
						<p><strong>Phone</strong> : +91 74028 11006</p>
						<p><strong>Email</strong> : <a href="mailto:tablelab4@yahoo.com">tablelab4@yahoo.com</a></p>
					</address>
				</div>
				<div class="col-lg-2 col-md-6 mt-lg-0 mt-sm-0 mt-4 p-md-0">
					<h3 class="text-uppercase mb-3">links</h3>
					<div class="links">
						<a class="pt-2 text-capitalize" href="/"><i class="fas fa fa-angle-right"></i> Home</a>
						<a class="pt-2 text-capitalize" href="/about"><i class="fas fa fa-angle-right"></i> About</a>
						<a class="pt-2 text-capitalize" href="/career"><i class="fas fa fa-angle-right"></i> Career</a>
						<a class="pt-2 text-capitalize" href="/service"><i class="fas fa fa-angle-right"></i> Services</a>
						<a class="pt-2 text-capitalize" href="/contact"><i class="fas fa fa-angle-right"></i> Contact Us</a>
					</div>	
				</div>
				<div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
					<h3 class="text-uppercase mb-3">Recent posts</h3>
					<div class="posts">
						<p class="pt-2">Automated set-ups
						<span class="font-italic">31st Dec, 2017.</span></p>
						<p class="py-2 my-2 middle">Impressive processing speed
						<span class="font-italic">31st Jan, 2018.</span></p>
						<p class="pt-2">Highly scalable software
						<span class="font-italic">31st Feb, 2018.</span></p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
					<h3 class="text-uppercase mb-3">Newsletter</h3>
					<p class="mb-4 pt-2">Subscribe to Our Newsletter to get Important News, Amazing Offers & More</p>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Enter your email..." required="">
						<button class="btn1"><i class="far fa fa-envelope-o"></i></button>
						<div class="clearfix"> </div>
					</form>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer -->


	<!-- copyright -->
	<div class="copyright py-4">
		<div class="container">
			<div class="copyrightgrids row">
				<div class="col-lg-6 col-12">
					<p>© 2018 <span>Table Labs</span>. All Rights Reserved</p>
				</div>
				<div class="col-lg-6 col-12">
					<ul class="social text-right mt-lg-0 mt-3">
						<li><p class="mx-2 text-capitalize">follow us on : </p></li>
						<li class="mx-2"><a href="#" class="socialfb"><span class="fab fa fa-facebook-f"></span></a></li>
						<li class="mx-2"><a href="#" class="socialtw"><span class="fab fa fa-twitter"></span></a></li>
						<li class="mx-2"><a href="#" class="socialgp"><span class="fab fa fa-google-plus"></span></a></li>
						<li class="mx-2"><a href="#" class="socialln"><span class="fab fa fa-linkedin"></span></a></li>
						<li class="mx-2"><a href="#" class="socialyh"><span class="fab fa fa-yahoo"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //copyright -->
</body>
</html>