<!DOCTYPE html>
<html>
<head></head>

<body>
	<!-- Header Start -->
	<header>
		<div class="container-fluid agile-banner_nav">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/"><img src="assets/logo.png"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
						<li class="nav-item active"><a class="nav-link" href="/service">Services</a></li>
						<li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<!-- Header End -->

	<!-- inner page banner-->
	<div class="inner-banner"></div>
	<!-- //inner page banner-->


	<!-- Welcome -->
	<section class="welcome py-5 my-lg-5">
		<div class="container">
			<div class="row welcome_grids">
				<div class="col-lg-7 mb-lg-0 mb-5">
					<h3 class="mb-3 text-capitalize">Welcome to Table labs</h3>
					<p class="my-2 initial font-italic">Bring your Big Data to Life with Us</p>
					<p class="mb-5 mt-4"> Emerging concepts such as big data highlight just how valuable data is to entities. The potency of data cannot be tapped into if there is no mechanism for input. This is where we come in with our data entry services. We at Data Entry India offer data entry services to different types of organizations that prefer outsourcing their data entry function to performing it in-house. Based on client feedback,.</p>
					<a href="#" class="text-uppercase" data-toggle="modal" data-target="#exampleModal"><span class="fas fa fa-play-circle"></span> Check Video </a>
				</div>
				<div class="col-lg-5 welcome_right">
					<img src="assets/slide1.jpg" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</section>
	<!-- //Welcome -->

	<!-- model video-->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Introduction Video</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body video">
					<iframe src="https://player.vimeo.com/video/7396421"></iframe>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<!-- //model video -->

	<!-- welcome bottom -->
	<section class="welcome_bottom">
		<div class="layer py-5">
			<div class="container py-lg-5">
				<div class="row bottom_grids">
					<div class="col-lg-6 col-md-8">
						<h4>Our Team Providing Data Entry Services Based in India</h4>
						<p class="my-4">We have a team of highly professional data entry workers with vast experience of working with a plethora of businesses including in the medical sector, legal sector, scientific research sector and retail or sales based businesses.</p>
						<h4 class="head text-uppercase"><i class="fas mb-4 fa fa-globe"></i> Network Analysis</h4>
						<p class="mb-4">Instead, we give our clients the liberty to choose different quality level options at the outset of any data entry project.</p>
						<a href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button">View More <i class="fas fa fa-angle-right"></i></a>
					</div>
					<div class="col-lg-6 col-md-4 video text-center">
						<a href="#" class="text-uppercase" data-toggle="modal" data-target="#exampleModal"><span class="fas fa fa-play-circle"></span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //welcome bottom -->

	<!-- services -->
	<section class="services py-5 my-lg-5">
		<div class="container">
			<h3 class="heading text-center text-capitalize mb-5">What can we do for you</h3>
			<div class="row service_grids">
				<div class="col-lg-4 col-md-6 mb-md-0 mb-3 text-center">
					<div class="serv_grid1">
						<i class="fas mb-4 fa fa-globe"></i>
						<h4 class="text-uppercase">Web Development</h4>
						<p class="mt-4 mb-5">We appreciate the variety of data entry projects that exist. That is why we do not offer a one size fits all solution to our clients.</p>
						<a href="#"> Learn more </a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-md-0 mb-3 text-center">
					<div class="serv_grid1 service_grid_active">
						<i class="fas mb-4 fa fa-mobile"></i>
						<h4 class="text-uppercase">Mobile Apps</h4>
						<p class="mt-4 mb-5">We guarantee delivering the quality level option selected by a client at the start of the data entry project, Data is not for the faint hearted</p>
						<a href="#"> Learn more </a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="serv_grid1">
						<i class="fas mb-4 fa fa-desktop"></i>
						<h4 class="text-uppercase">Design Agency</h4>
						<p class="mt-4 mb-5">The quality level options apply to all kinds of data from keyed data to OCR data. We give data accuracy assurance of up to 99.995%.</p>
						<a href="#"> Learn more </a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //services -->

	<!-- project -->
	<section class="project py-5 text-center">
		<div class="container">
			<h3 class="text-capitalize mb-5">Do you want to start a new project ?</h3>
			<a href="/contact" class="text-uppercase"><i class="fas fa fa-envelope-open"></i> contact us </a>
		</div>
	</section>
	<!-- //project -->

	<!-- footer -->	
	<footer>
		<div class="container py-5">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3 class="text-uppercase mb-3">Address</h3>
					<address>
						<p><strong>Tablelabs OPC Private Limited</strong></p>
						<p class="mb-3">#171, Ganapathy Nagar, Thiruvanaikoil, Trichy - 620005 Tamil Nadu, India.</p>
						<p><strong>Phone</strong> : +91 74028 11006</p>
						<p><strong>Email</strong> : <a href="mailto:tablelab4@yahoo.com">tablelab4@yahoo.com</a></p>
					</address>
				</div>
				<div class="col-lg-2 col-md-6 mt-lg-0 mt-sm-0 mt-4 p-md-0">
					<h3 class="text-uppercase mb-3">links</h3>
					<div class="links">
						<a class="pt-2 text-capitalize" href="/"><i class="fas fa fa-angle-right"></i> Home</a>
						<a class="pt-2 text-capitalize" href="/about"><i class="fas fa fa-angle-right"></i> About</a>
						<a class="pt-2 text-capitalize" href="/career"><i class="fas fa fa-angle-right"></i> Career</a>
						<a class="pt-2 text-capitalize" href="/service"><i class="fas fa fa-angle-right"></i> Services</a>
						<a class="pt-2 text-capitalize" href="/contact"><i class="fas fa fa-angle-right"></i> Contact Us</a>
					</div>	
				</div>
				<div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
					<h3 class="text-uppercase mb-3">Recent posts</h3>
					<div class="posts">
						<p class="pt-2">Automated set-ups
						<span class="font-italic">31st Dec, 2017.</span></p>
						<p class="py-2 my-2 middle">Impressive processing speed
						<span class="font-italic">31st Jan, 2018.</span></p>
						<p class="pt-2">Highly scalable software
						<span class="font-italic">31st Feb, 2018.</span></p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
					<h3 class="text-uppercase mb-3">Newsletter</h3>
					<p class="mb-4 pt-2">Subscribe to Our Newsletter to get Important News, Amazing Offers & More</p>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Enter your email..." required="">
						<button class="btn1"><i class="far fa fa-envelope-o"></i></button>
						<div class="clearfix"> </div>
					</form>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer -->


	<!-- copyright -->
	<div class="copyright py-4">
		<div class="container">
			<div class="copyrightgrids row">
				<div class="col-lg-6 col-12">
					<p>© 2018 <span>Table Labs</span>. All Rights Reserved</p>
				</div>
				<div class="col-lg-6 col-12">
					<ul class="social text-right mt-lg-0 mt-3">
						<li><p class="mx-2 text-capitalize">follow us on : </p></li>
						<li class="mx-2"><a href="#" class="socialfb"><span class="fab fa fa-facebook-f"></span></a></li>
						<li class="mx-2"><a href="#" class="socialtw"><span class="fab fa fa-twitter"></span></a></li>
						<li class="mx-2"><a href="#" class="socialgp"><span class="fab fa fa-google-plus"></span></a></li>
						<li class="mx-2"><a href="#" class="socialln"><span class="fab fa fa-linkedin"></span></a></li>
						<li class="mx-2"><a href="#" class="socialyh"><span class="fab fa fa-yahoo"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //copyright -->
</body>
</html>